<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fall2018.csc2017.gamecentre">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature android:name="android.hardware.location.gps" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".games.slidingtiles.SlidingTilesStartingActivity" />
        <activity android:name=".games.slidingtiles.SlidingTilesScoreboardActivity" />
        <activity android:name=".games.slidingtiles.SlidingTilesWinningActivity" />
        <activity android:name=".games.game2048.Game2048MainActivity" />
        <activity android:name=".games.game2048.Game2048StartingActivity" />
        <activity android:name=".games.slidingtiles.SlidingTilesGameActivity" />
        <activity android:name=".games.sudoku.SudokuStartingActivity" />
        <activity android:name=".games.sudoku.SudokuGameActivity" />
        <activity android:name=".ProfileEditActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".games.sudoku.SudokuWinningActivity" />
        <activity android:name=".games.game2048.Game2048WinningActivity" />
        <activity android:name=".PerUserScoreboardActivity"></activity>
    </application>

</manifest>